# Node / Yarn
node_modules/
site/.yarn/*
!site/.yarn/patches
!site/.yarn/plugins
!site/.yarn/releases
!site/.yarn/sdks
!site/.yarn/versions
.pnp.*
yarn-error.log

# VitePress build output & cache (the .vitepress root lives under site/)
site/.vitepress/dist/
site/.vitepress/cache/
